.footer {
    max-width: 100%;
    height: 100%;
    background: #222;
    display: flex;
    justify-content: space-evenly;
    padding: 60px 0;
    p {
        font-size: 12px;
    }
    .footer-content {
        img {
            margin-bottom: 30px;
        }
        p {
            font-weight: 700;
            text-align: right;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .partner {
        .logos {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            gap: 5px;
        }
    }
}
