
    .navbar {
        display: none;
    }

.loginContainer {
    height: 100%;
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}