.loginIcon {
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}
.cityList {
    // vertical-align: middle;
    padding: 0;
    // padding-top: 3px;
}
.spaceingLine {
    padding-left: 0.5rem;
}
.headingNav {
    margin: auto;
}