.adminContainer {
    height: 100%;
    display: flex;
}

.dashboard {
    height: 100%;
    width: 10%;
    top: 0;
    left: 0; 
    padding: 20px;
    border-right: 2px solid #dee2e6;
    a {
        display: block;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 7px;
        // &:hover {
        //     color: white;
        // }
    }
}