.moviesTable {
    max-width: 1440px;
    // height: 95%;
    overflow: scroll;
    .table {
        width: 100%;
        border: 2px solid rgba(129, 125, 125, 0.3);
    }
}

.themPhim-modal {
    form {
        input, select, button {
            width: 50%;
            float: right;
        }
        .uploadImg-input {
            input {
                width: 100%;
                float: left;
            }
        }
    }
}
.errors {
    color: red;
    // margin-left: 20%;
    font-size: smaller;
    // float: right;
}