.usersTable {
    width: 75%;
    height: 100%;
    overflow: auto;
    margin: 20px 0 0 50px;
    .myBtn {
        font-size: 10px;
        .btn {
            padding: 0 10px;
            margin: 2px;
        }
        .modal-body {
            form {
                div {
                    label {
                        font-size: 15px;
                    }
                    input {
                        margin-right: 70px;
                        float: right;
                        padding-left: 5px;
                        width: 50%;
                        font-size: 15px;
                    }
                    select {
                        margin-right: 70px;
                        float: right;
                        padding-left: 5px;
                        width: 50%;
                        font-size: 15px;
                    }
                }
                display: block;
            }
        }
    }
}
.userOptions {
    position: absolute;
    right: 1%;
    top: 5%;
    width: 20%;
    button {
        margin-top: 10px;
    }
    .inputSearch {
        input {
            padding: 10px;
            border: none;
            border-bottom: 1px solid black;
            width: 100%;
        }
    }
    .themNd {
        margin-top: 70px;
        h3 {
            border-bottom: 1px solid black;
            padding-bottom: 10px;
        }
        input {
            float: right;
            width: 55%;
        }
        select {
            float: right;
            width: 55%;
        }
    }
}
